/*=================================
AREAS DE PRACTICA
=================================*/


.areas{

padding:110px 8%;

background:#f7f9fc;

}



/* TITULO */


.areas-title{

text-align:center;

max-width:800px;

margin:auto;

margin-bottom:70px;

}



.areas-title h2{

font-size:45px;

color:#1F6B3A;

margin-bottom:18px;

}



.areas-title p{

font-size:18px;

color:#666;

line-height:1.7;

}



/* GRID */


.areas-container{

max-width:1200px;

margin:auto;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;

}



/* TARJETAS */


.areas-card{

background:white;

padding:40px 30px;

border-radius:22px;

text-align:center;

box-shadow:
0 15px 35px rgba(0,0,0,.08);

transition:.35s ease;

border-top:6px solid #31B35A;

}



.areas-card:hover{

transform:translateY(-10px);

box-shadow:
0 25px 45px rgba(0,0,0,.15);

}



/* ICONOS */


.areas-icon{

width:85px;

height:85px;

margin:auto;

margin-bottom:25px;

border-radius:50%;

background:#31B35A;

color:white;

display:flex;

justify-content:center;

align-items:center;

font-size:38px;

}



/* TITULO TARJETA */


.areas-card h3{

font-size:24px;

color:#1F6B3A;

margin-bottom:18px;

}



/* TEXTO */


.areas-card p{

font-size:16px;

color:#666;

line-height:1.8;

min-height:115px;

margin-bottom:25px;

}



/* BOTON */


.areas-button{

display:inline-block;

background:#1F6B3A;

color:white;

padding:12px 25px;

border-radius:10px;

font-weight:700;

transition:.3s;

}



.areas-button:hover{

background:#31B35A;

}



/* RESPONSIVE */


@media(max-width:950px){


.areas-container{

grid-template-columns:repeat(2,1fr);

}


}



@media(max-width:600px){


.areas{

padding:80px 5%;

}


.areas-container{

grid-template-columns:1fr;

}



.areas-title h2{

font-size:34px;

}


}



